{% assign meganav = false %}
{% for block in section.blocks %}
  {% if block.settings.menu_item == link.title %}
    {% capture megalink %}

    <li class="navigation__menuitem navigation__menuitem--dropdown js-aria-expand js-doubletap-to-go" aria-haspopup="true" aria-expanded="false" role="none">
      <a class="navigation__menulink js-menu-link js-open-dropdown-on-key" href="{{ link.url }}">
        {{ link.title }}
        {% render 'snip-icons',
         wrapper: '.navigation__menulink',
         type: 'apollo',
         icon: 'down-carrot',
         classes: 'navigation__menulink--icon vib-center',
         size: '6px',
         fill: 'var(--nav-color)',
         hover: 'var(--nav-hover-link-color)' %}
      </a>
      <ul class="megamenu row">
        {% if block.settings.nav_image != blank %}
        {%- assign image_size = '300x' -%}
        <span class="desktop-3 tablet-hide mm-image">
          <a href="{{ block.settings.link }}">
            <div class="megamenu__imagecontainer">
              {% render 'basic-responsive-image', type: block.settings.nav_image, data_widths: '[180, 360, 540]' %}
            </div>
            <noscript>
              <img src="{{ block.settings.nav_image | img_url: '800x' }}" alt="{{ block.settings.nav_image.alt }}" class="navigation-image">
            </noscript>
          </a>
        </span>
        {% endif %}
        <span class="{% if block.settings.nav_image != blank %}desktop-9{% else %}desktop-12{% endif %} tablet-6">

          {%- liquid

            case link.links.size
              when 0
              when 1
                assign column_width = 'desktop-12 tablet-fourth'
              when 2
                assign column_width = 'desktop-6 tablet-fourth'
              when 3 or 6
                assign column_width = 'desktop-4 tablet-fourth'
              else
                assign column_width = 'desktop-3 tablet-fourth'
            endcase

          -%}

          {% for sub_link in link.links %}
            <li class="megamenu__listcontainer {{ column_width }}">
              <h4 class="megamenu__header">
                <a class="megamenu__headerlink" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
              </h4>
              {% if sub_link.links != blank %}
                <ul class="megamenu__list">
                  {% for sub_sub_link in sub_link.links %}
                    <li class="megamenu__listitem">
                      <a class="megamenu__listlink" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </span>
      </ul>
    </li>

    {% endcapture %}
    {% assign meganav = true %}
  {% endif %}
{% endfor %}
{% if meganav %}
  {{ megalink }}
{% elsif link.links != blank %}
  <li class="navigation__menuitem navigation__menuitem--dropdown js-menuitem js-doubletap-to-go" role="none">
    <a class="navigation__menulink js-menu-link js-aria-expand js-open-dropdown-on-key" role="menuitem" aria-haspop="true" aria-expanded="false" href="{{ link.url}}">
      {{ link.title }}
      {% render 'snip-icons',
         wrapper: '.navigation__menulink',
         type: 'apollo',
         icon: 'down-carrot',
         classes: 'navigation__menulink--icon vib-center',
         size: '6px',
         fill: 'var(--nav-color)',
         hover: 'var(--nav-hover-link-color)' %}
    </a>
    <ul role="menu" aria-label="{{ link.title }}" class="dropdown js-dropdown">
      {% for sub_link in link.links %}
        {% if sub_link.links != blank %}
        <li role="none" class="dropdown__menuitem dropdown__menuitem--nested js-menuitem-with-nested-dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="dropdown__menulink js-aria-expand js-menu-link" role="menuitem" href="{{ sub_link.url }}">
            {{ sub_link.title }}
            {% render 'snip-icons',
               wrapper: '.dropdown__menulink',
               type: 'apollo',
               icon: 'right-carrot',
               classes: 'dropdown__menulink--icon vib-center',
               size: '10px',
               fill: 'var(--dropdown-link-color)',
               hover: 'var(--dropdown-link-hover-color)' %}
          </a>
          <ul role="menu" class="dropdown dropdown--nested js-dropdown-nested">
            {% for sub_sub_link in sub_link.links %}
              <li class="dropdown__menuitem" role="none">
                <a class="dropdown__menulink js-menu-link-inside-dropdown" role="menuitem" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
          <li class="dropdown__menuitem" role="none">
            <a class="dropdown__menulink js-menu-link" role="menuitem" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% else %}
  <li class="navigation__menuitem js-doubletap-to-go" role="none">
    <a class="navigation__menulink js-menu-link" role="menuitem" href="{{ link.url }}">{{ link.title }}</a>
  </li>
{% endif %}
