{%- liquid

  if section.settings.title_position == 'floating'
    assign is_floating = true
  endif

  if section.settings.no_top_margin
    assign ntm = true
  endif

  assign grid = section.settings.grid
  case section.settings.grid
    when 2
      assign prod_grid = 50
    when 3
      assign prod_grid = 33.333
    when 4
      assign prod_grid = 25
  endcase

-%}

<section class="global__section collection__list-section{% if ntm %} mt0{% endif %}" data-section-id="{{ section.id }}" >
  <div class="collection__list-container row">
    {% if section.settings.title != blank %}
    <div class="section-title {% if settings.section_titles == 'lines' %}lines {% elsif settings.section_titles == 'btm_border' %}btm_border {% endif %} desktop-12 tablet-6 mobile-3"><h2>{{ section.settings.title | escape }}</h2></div>
    {% endif %}

    <div class="collection__list-loop">
	    {% for block in section.blocks limit: section.blocks.size %}
      {% assign collection = collections[block.settings.collection] %}
      <div class="collection__list-item{% if is_floating %} floating__title{% endif %}" data-alpha="{{ collection.title }}" {{ block.shopify_attributes }}>
        {% if collection == blank %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {%- assign placeholder = 'collection-' | append: current -%}
            <div class="collection__item-image ci onboard">
              <a href="#" title="Collection image">
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
              </a>
            </div>
          <div class="collection__item-details">
            <a href="{{ collection.url }}" title="{{ collection.title }}">
              <p>Sample collection {{ forloop.index }}</p>
              {% if section.settings.collection_count %}
              <p>5 items</p>
              {% endif %}
            </a>
          </div>
        {% else %}
          {% render 'collection-grid-item', collection: collection %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% if section.blocks.size == 0 %}
      {% render 'no-blocks' %}
    {% endif %}
  </div>
  <style>
    .collection__list-loop {
      grid-template-columns: repeat({{ grid }}, 1fr);
    }
  </style>

</section>
<div class="clear"></div>

{% schema %}
{
  "name": "Collection list",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "no_top_margin",
      "label": "No top margin",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Collections per row",
      "default": 3
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "Collection title position",
      "options": [
        {
          "value": "below",
          "label": "Below image"
        },
        {
          "value": "floating",
          "label": "Floating on image"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "collection_count",
      "label": "Show product count"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "settings": {
        "grid": 3
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ],
  "templates": [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search",
    "customers/account"
  ]
}
{% endschema %}
