{%- liquid

  if section.settings.no_top_margin
    assign ntm = true
  endif

-%}

<section class="image__overlay-section section-{{ section.id }} global__section{% if ntm %} mt0{% endif %}" data-section-id="{{ section.id }}" data-section-type="image-section">
  <div class="desktop-12 tablet-6 mobile-3">
    <div class="image__overlay-container lazyload lazyload-fade{% unless section.settings.full_width %} row{% endunless %}" data-bgset="{% render 'bgset', image: section.settings.image %}" data-sizes="auto">
      {% if section.settings.overlay %}<div class="overlay"></div>{% endif %}
      {%- if section.settings.image == blank -%}
      <div class="onboard plax-placehold">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
      {% endif %}
      <div class="image__overlay-caption">
        <h3>{{ section.settings.heading  | escape }}</h3>
        <div class="rte">
          {{ section.settings.subheading_text }}
        </div>
        {% if section.settings.link != blank and section.settings.button_text != blank %}
        <div class="image__overlay-btn-wrapper">
          <a href="{{ section.settings.link }}">{{ section.settings.button_text | escape }}</a>
        </div>
    		{% endif %}
      </div>
    </div>
  </div>
  <style>
    .image__overlay-section.section-{{ section.id }} .image__overlay-caption {
      text-align: {{ section.settings.text_align }};
      top: {{ section.settings.caption_vertical }}%;
      left: {{ section.settings.caption_horizontal }}%;
      -webkit-transform: translate(-{{ section.settings.caption_horizontal }}%, -{{ section.settings.caption_vertical }}%);
        -ms-transform: translate(-{{ section.settings.caption_horizontal }}%, -{{ section.settings.caption_vertical }}%);
          -moz-transform: translate(-{{ section.settings.caption_horizontal }}%, -{{ section.settings.caption_vertical }}%);
          -o-transform: translate(-{{ section.settings.caption_horizontal }}%, -{{ section.settings.caption_vertical }}%);
          transform: translate(-{{ section.settings.caption_horizontal }}%, -{{ section.settings.caption_vertical }}%);
    }
    {% if section.settings.background_attachment == 'fixed' %}
    @media screen and (min-width: 981px) {
      .image__overlay-section.section-{{ section.id }} .image__overlay-container {
        background-attachment: fixed;
      }
    }
    {% endif %}
    .image__overlay-section.section-{{ section.id }} .image__overlay-container {
      height: {{ section.settings.height }}px;
    }
    .image__overlay-section.section-{{ section.id }} .image__overlay-caption h3 {
      font-size: {{ section.settings.heading_font_size }}px;
      color: {{ section.settings.text_color }};
    }
    .image__overlay-section.section-{{ section.id }} .image__overlay-caption p {
      font-size: {{ section.settings.subheading_font_size }}px;
      color: {{ section.settings.text_color }};
    }
    .image__overlay-section.section-{{ section.id }} .image__overlay-caption .rte a {
      color: {{ section.settings.text_color }};
    }
    .image__overlay-section.section-{{ section.id }} .image__overlay-caption .image__overlay-btn-wrapper a {
      background-color: {{ section.settings.button_color }};
      border: 1px solid {{ section.settings.button_color }};
      color: {{ section.settings.button_text_color }};
    }
    .image__overlay-section.section-{{ section.id }} .image__overlay-caption .image__overlay-btn-wrapper a:hover {
      color: {{ section.settings.button_color }}
    }
    .no-js .image__overlay-section .image__overlay-container {
      background-image: url({{ section.settings.image | img_url: '1024x' }});
      opacity: 1;
    }
    @media screen and (max-width: 740px) {
      .image__overlay-section.section-{{ section.id }} .image__overlay-container {
        height: {{ section.settings.mobile_height }}px;
      }
    }
  </style>
</section>
{% schema %}
{
  "name": "Image with text overlay",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "no_top_margin",
      "label": "No top margin",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1920px x 1080px recommended"
    },
    {
      "type": "checkbox",
      "id": "overlay",
      "label": "Add image overlay",
      "info": "This can help with text contrast"
    },
    {
      "type": "radio",
      "id": "background_attachment",
      "options": [
        {
          "value": "fixed",
          "label": "Fixed large centered image (desktop)"
        },
        {
          "value": "scroll",
          "label": "Scrolling full width image"
        }
      ],
      "label": "Background motion"
    },
    {
      "type": "range",
      "id": "height",
      "min": 300,
      "max": 700,
      "step": 20,
      "unit": "px",
      "label": "Desktop section height",
      "default": 400
    },
    {
      "type": "range",
      "id": "mobile_height",
      "min": 200,
      "max": 600,
      "step": 20,
      "unit": "px",
      "label": "Mobile section height",
      "default": 400
    },
    {
      "type": "header",
      "content": "Text content"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Caption alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "caption_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Text over image vertical position",
      "default": 50
    },
    {
      "type": "range",
      "id": "caption_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Text over image horizontal position",
      "default": 50
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Image with text overlay"
    },
    {
      "id": "subheading_text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Subheading text</p>"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Button text",
      "default": "Button",
      "info": "Visible only if a link is chosen"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Text style"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 30
    },
    {
      "type": "range",
      "id": "subheading_font_size",
      "min": 12,
      "max": 22,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 16
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button background",
      "default": "#000"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay"
    }
  ],
  "templates": [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search"
  ]
}
{% endschema %}
